<!DOCTYPE html>
<html lang="en">
<head>
<title>Login</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Your description">
<meta name="keywords" content="Your keywords">
<meta name="author" content="Your name">
<link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />

<link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css" media="screen">
<link rel="stylesheet" href="../static/css/bootstrap-responsive.css" type="text/css" media="screen">    
<link rel="stylesheet" href="../static/css/supersized.core.css" type="text/css" media="screen">  
<link rel="stylesheet" href="../static/css/style.css" type="text/css" media="screen">

<script type="text/javascript" src="../static/js/jquery.js"></script>  
<script type="text/javascript" src="../static/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../static/js/superfish.js"></script>

<script type="text/javascript" src="../static/js/jquery.ui.totop.js"></script>

<script type="text/javascript" src="../static/js/supersized.core.3.2.1.js"></script>
<script>
$(document).ready(function() {
 	// 
	

}); //
$(window).load(function() {
	//

}); //
</script>		
<!--[if lt IE 8]>
		<div style='text-align:center'><a href="https://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg"border="0"alt=""/></a></div>
	<![endif]-->    

<!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
<![endif]-->
</head>

<body class="subpage">
<div id="main">
<div id="inner">

<div class="container">
<div class="row">
<div class="span12">
<header class="clearfix">
	 
</header>	
</div>	
</div>	
</div>

<div class="top1">
<div class="container">
<div class="row">
<div class="span12">
<div class="navbar navbar_">
	<div class="navbar-inner navbar-inner_">
		<a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
		<div class="nav-collapse nav-collapse_ collapse">
			<ul class="nav sf-menu clearfix">
				<li><a href="{{ url_for('index')}}">Home</a></li>				
				<li><a href="{{ url_for('login')}}">Login</a></li>	
				<li ><a href="{{ url_for('abstract')}}">Abstract</a></li>							
				 	 
				 										
			</ul>
		</div>
	</div>
</div>	
</div>	
</div>	
</div>
<div id="slider2">
<img src="../static/images/gmail7.jpg" height="400" width="1300"sclass="img">
<img src="../static/images/colorized.gif" alt="" class="colorized">
<div class="txt1">Login</div>
</div>
</div>

<div class="top2">
<div class="slogan">
<div class="container">
 
</div>
</div>
</div>

<div id="content">
<div class="container">
<div class="row">
<div class="span12">
	<div class="pad_left20 pad_right20">
	<center>	<h1>Login</h1></center>
		<div class="thumb2">
			<div class="thumbnail clearfix">
				 
				<div class="caption">
				   <head>

        
         
 
		 <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

        function login(){
        var uname = document.getElementById("uname").value;
        var pwd = document.getElementById("pwd").value;

	if(uname == "admin" && pwd == "admin")
	{
	  alert("Login Success!");
	  
	  window.location = "{{url_for('abstract')}}";
	  return false;
	}
	else
	{
	alert("Invalid Credentials!")
	}
        }
		
		  


 
    </script>
	
</head>

   

   <body id="page-top">

   
 

  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">
      <br>
	  <br>
      <!-- Portfolio Section Heading -->
      <div class="login-title text-center">
	   <div class="row">            
     
                            
                     
             
                     </div>
					 </div>
      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Portfolio Grid Items -->
      <div class="row">

        <!-- Portfolio Item 1 -->
        <div class="col-md-6 col-lg-4" style="margin-left:480px">
		 <div class="control-group">
			      <!-- Username -->
				 
			      <label class="control-label"   for="username"><b>Username</b></label>
			      <div class="controls">
			        <input type="text" id="uname" name="uname" placeholder="Username" class="form-control">
			       
				  </div>
			    </div>
			    <div class="control-group">
			      <!-- Password-->
				  
			      <label class="control-label"  for="password"><b>Password</b></label>
			      <div class="controls">
			        <input type="password" id="pwd" name="pwd" placeholder="Password" class="form-control">
			      
				  </div>
			    </div>
				 <div class="col-md-6 col-lg-4" style="margin-left:-150px">
			    <div class="control-group">
			      <!-- Button -->
				  <br>
			      <div class="controls">
				   
			        <input type="button" class="btn btn-success" value="Login" style="margin-left: 240px" onclick="login()">
			      
				  </div>
			    </div>
				 </div>
  </div>
  </div>
  </div>
  </div>
  </section>

 

    </body>
 
				 
				 
				 
				 
					 				
				</div>
			</div>
		</div>
	</div>

	 

			 






		 			
		</div>
		 
	</div>





</div>


	

</div>	
</div>	
</div>

<footer>
<div class="container">
<div class="row">
<div class="span12">
<div class="bot1">
	<div class="row">
		<div class="span3">
			<div class="block1 pad_bottom">
			 
				 
			 
			</div>
		</div>
		<div class="span3">
			 
		</div>
		<div class="span3">
			<div class="block3 pad_bottom">
				<div class="bot_title"> </div>
				 
			</div>
		</div>
		<div class="span3">
			 
		</div>
	</div>
</div>	
<div class="bot2">
	<div class="pad_bottom">
		 
	</div>
</div>	
</div>	
</div>	
</div>
</footer>












</div>	
</div>
<script type="text/javascript" src="../static/js/bootstrap.js"></script>
</body>
</html>